In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime

In [2]:
data = pd.read_csv('dog_rates_tweets.csv', sep=' ', header=None, names=['id', 'date', 'comment'], parse_dates=True)

In [3]:
data

                                  id                       date       comment
0                 id,created_at,text                        NaN           NaN
1      994677639364403200,2018-05-10    20:36:44,@Steff88979267          tell
2      994364904978239488,2018-05-09      23:54:02,@NFLOwnerGBP          take
3      994363623421153280,2018-05-09             23:48:56,"This            is
4      994336722875047936,2018-05-09  22:02:03,@rachaellanaghan            ❤️
...                              ...                        ...           ...
9496  1027980978910687233,2018-08-10       18:12:18,@GregWWoods        thanks
9497  1027976875811819520,2018-08-10          17:56:00,@DiannaC        thanks
9498  1027970381766963202,2018-08-10          17:30:12,@runnjen  @livelikeroo
9499  1027967697684815873,2018-08-10  17:19:32,@shelbymorganart        thanks
9500  1027963039029452800,2018-08-10  17:01:01,@xo_taylernicole        thanks

[9501 rows x 3 columns]

In [4]:
data['comment'] = data['comment'].astype(str)

In [5]:
pd.set_option('display.max_rows', data.shape[0]+1)

In [6]:
data['date'] = data['date'].astype('string')

In [7]:
data['date'] = pd.Series.to_string(data['date'])

In [8]:
data = data.dropna(axis=0, subset=['comment'])

In [9]:
data = data.drop_duplicates(subset=['comment'], keep='first') #Gets rid of duplicate comments

In [10]:
import re
pattern = '\d+/10'

In [11]:
def string_replace(row):
    m = re.findall(pattern, row)
    
    if m:
        return row
    else:
        return "None"

In [12]:
data['comment'] = data['comment'].apply(lambda x: string_replace(x))

In [13]:
data.drop(data[data['comment'] == 'None'].index, inplace=True)

In [14]:
data.shape

(10, 3)

In [15]:
data

,id,date,comment
190,"976201779556864004,2018-03-20",0 ...,12/10
1447,Good,0 ...,420/10
2317,"879674319642796034,2017-06-27",0 ...,14/10
3380,"840698636975636481,2017-03-11",0 ...,&gt;10/10
3507,"838150277551247360,2017-03-04",0 ...,182/10
4029,"823333489516937216,2017-01-23",0 ...,13/10
4826,"785515384317313025,2016-10-10",0 ...,"10/10,"
5223,"761672994376806400,2016-08-05",0 ...,10/10
5769,(pupgraded,0 ...,12/10)
7203,"1096203765189726208,2019-02-15",0 ...,15/10