In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime

In [2]:
data = pd.read_csv('dog_rates_tweets.csv', sep=' ', header=None, names=['id', 'date', 'comment'])

In [3]:
data

                                  id                       date       comment
0                 id,created_at,text                        NaN           NaN
1      994677639364403200,2018-05-10    20:36:44,@Steff88979267          tell
2      994364904978239488,2018-05-09      23:54:02,@NFLOwnerGBP          take
3      994363623421153280,2018-05-09             23:48:56,"This            is
4      994336722875047936,2018-05-09  22:02:03,@rachaellanaghan            ❤️
...                              ...                        ...           ...
9496  1027980978910687233,2018-08-10       18:12:18,@GregWWoods        thanks
9497  1027976875811819520,2018-08-10          17:56:00,@DiannaC        thanks
9498  1027970381766963202,2018-08-10          17:30:12,@runnjen  @livelikeroo
9499  1027967697684815873,2018-08-10  17:19:32,@shelbymorganart        thanks
9500  1027963039029452800,2018-08-10  17:01:01,@xo_taylernicole        thanks

[9501 rows x 3 columns]

In [4]:
data['date'] = data['date'].astype('string')

In [5]:
data

                                  id                       date       comment
0                 id,created_at,text                       <NA>           NaN
1      994677639364403200,2018-05-10    20:36:44,@Steff88979267          tell
2      994364904978239488,2018-05-09      23:54:02,@NFLOwnerGBP          take
3      994363623421153280,2018-05-09             23:48:56,"This            is
4      994336722875047936,2018-05-09  22:02:03,@rachaellanaghan            ❤️
...                              ...                        ...           ...
9496  1027980978910687233,2018-08-10       18:12:18,@GregWWoods        thanks
9497  1027976875811819520,2018-08-10          17:56:00,@DiannaC        thanks
9498  1027970381766963202,2018-08-10          17:30:12,@runnjen  @livelikeroo
9499  1027967697684815873,2018-08-10  17:19:32,@shelbymorganart        thanks
9500  1027963039029452800,2018-08-10  17:01:01,@xo_taylernicole        thanks

[9501 rows x 3 columns]

In [6]:
data['date'] = pd.Series.to_string(data['date'])

In [7]:
datetime.strptime(data['date'], '%Y-%d-%m %H:%M:%S')

TypeError: strptime() argument 1 must be str, not Series