In [1]:
import pandas as pd
import numpy as np
import math as m

In [2]:
totals = pd.read_csv('/Users/jonathanperalgort/Documents/CMPT353-Computational-Data-Science/Exercises/1/e1/totals.csv').set_index(keys=['name'])

In [3]:
counts = pd.read_csv('/Users/jonathanperalgort/Documents/CMPT353-Computational-Data-Science/Exercises/1/e1/counts.csv').set_index(keys=['name'])

In [4]:
totals

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12
name,,,,,,,,,,,,
BURNABY SIMON FRASER U,1809,1482,2159,374,606,428,442,68,956,1429,1349,1846
CALGARY INTL A,121,22,46,40,683,616,2061,834,253,276,27,224
GANDER INTL A,896,1232,992,1106,1236,1015,1264,1096,1026,2422,1184,1099
HALIFAX INTL A,1491,1473,1452,1595,1001,725,734,445,845,2185,1305,1835
REVELSTOKE,930,561,533,204,546,748,662,274,785,1620,1293,295
SHERBROOKE,183,982,621,471,667,671,525,1599,433,1176,594,627
TORONTO LESTER B. PEARSON INT',363,491,729,681,346,269,399,667,663,452,497,821
VANCOUVER INTL A,1682,1304,1616,242,516,582,328,138,784,2034,2402,1520
YELLOWKNIFE A,220,90,28,120,98,306,154,280,488,158,176,116

In [5]:
counts

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12
name,,,,,,,,,,,,
BURNABY SIMON FRASER U,30,22,30,30,21,21,20,25,20,19,17,16
CALGARY INTL A,31,29,31,30,31,30,31,30,30,30,30,30
GANDER INTL A,31,29,31,30,30,30,31,31,30,31,30,31
HALIFAX INTL A,31,29,31,30,31,30,31,31,29,30,30,31
REVELSTOKE,31,29,31,29,31,29,30,31,30,31,30,29
SHERBROOKE,31,29,31,30,31,30,28,31,30,30,29,31
TORONTO LESTER B. PEARSON INT',31,28,31,30,31,30,31,31,30,31,29,31
VANCOUVER INTL A,30,28,31,30,30,29,30,31,30,31,30,30
YELLOWKNIFE A,31,28,31,30,31,30,31,31,30,30,30,30

In [6]:
sum_of_precipitations = pd.DataFrame.sum(totals, axis=1)

In [7]:
sum_of_precipitations

name
BURNABY SIMON FRASER U            12948
CALGARY INTL A                     5203
GANDER INTL A                     14568
HALIFAX INTL A                    15086
REVELSTOKE                         8451
SHERBROOKE                         8549
TORONTO LESTER B. PEARSON INT'     6378
VANCOUVER INTL A                  13148
YELLOWKNIFE A                      2234
dtype: int64

In [8]:
pd.Series.argmin(sum_of_precipitations) #Shows the location with the minimum total precipitation

8

In [9]:
totals/counts #Shows the average precipitations per month in each location`

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12
name,,,,,,,,,,,,
BURNABY SIMON FRASER U,60.300000,67.363636,71.966667,12.466667,28.857143,20.380952,22.100000,2.720000,47.800000,75.210526,79.352941,115.375000
CALGARY INTL A,3.903226,0.758621,1.483871,1.333333,22.032258,20.533333,66.483871,27.800000,8.433333,9.200000,0.900000,7.466667
GANDER INTL A,28.903226,42.482759,32.000000,36.866667,41.200000,33.833333,40.774194,35.354839,34.200000,78.129032,39.466667,35.451613
HALIFAX INTL A,48.096774,50.793103,46.838710,53.166667,32.290323,24.166667,23.677419,14.354839,29.137931,72.833333,43.500000,59.193548
REVELSTOKE,30.000000,19.344828,17.193548,7.034483,17.612903,25.793103,22.066667,8.838710,26.166667,52.258065,43.100000,10.172414
SHERBROOKE,5.903226,33.862069,20.032258,15.700000,21.516129,22.366667,18.750000,51.580645,14.433333,39.200000,20.482759,20.225806
TORONTO LESTER B. PEARSON INT',11.709677,17.535714,23.516129,22.700000,11.161290,8.966667,12.870968,21.516129,22.100000,14.580645,17.137931,26.483871
VANCOUVER INTL A,56.066667,46.571429,52.129032,8.066667,17.200000,20.068966,10.933333,4.451613,26.133333,65.612903,80.066667,50.666667
YELLOWKNIFE A,7.096774,3.214286,0.903226,4.000000,3.161290,10.200000,4.967742,9.032258,16.266667,5.266667,5.866667,3.866667

In [10]:
sum_of_counts = pd.DataFrame.sum(counts, axis=1)

In [11]:
sum_of_counts

name
BURNABY SIMON FRASER U            271
CALGARY INTL A                    363
GANDER INTL A                     365
HALIFAX INTL A                    364
REVELSTOKE                        361
SHERBROOKE                        361
TORONTO LESTER B. PEARSON INT'    364
VANCOUVER INTL A                  360
YELLOWKNIFE A                     363
dtype: int64

In [13]:
#Daily average of precipitations
sum_of_precipitations/sum_of_counts

name
BURNABY SIMON FRASER U            47.778598
CALGARY INTL A                    14.333333
GANDER INTL A                     39.912329
HALIFAX INTL A                    41.445055
REVELSTOKE                        23.409972
SHERBROOKE                        23.681440
TORONTO LESTER B. PEARSON INT'    17.521978
VANCOUVER INTL A                  36.522222
YELLOWKNIFE A                      6.154270
dtype: float64